@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pretendard;
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url("./assets/fonts/Pretendard-Black.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Black.subset.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("./assets/fonts/Pretendard-ExtraBold.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-ExtraBold.subset.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("./assets/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Bold.subset.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("./assets/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-SemiBold.subset.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("./assets/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Medium.subset.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("./assets/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Regular.subset.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("./assets/fonts/Pretendard-Light.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Light.subset.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url("./assets/fonts/Pretendard-ExtraLight.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-ExtraLight.subset.woff") format("woff");
}

@font-face {
  font-family: Pretendard;
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url("./assets/fonts/Pretendard-Thin.subset.woff2") format("woff2"),
    url("./assets/fonts/Pretendard-Thin.subset.woff") format("woff");
}

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-color-slate-400 {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}

.text-color-coral-600 {
  --tw-text-opacity: 1;
  color: rgb(237 102 83 / var(--tw-text-opacity));
}

.fill-slate-300 {
  fill: #cbd5e1;
}

.fill-slate-400 {
  fill: #94a3b8;
}

.fill-slate-500 {
  fill: #64748b;
}

.fill-slate-600 {
  fill: #475569;
}

.fill-slate-900 {
  fill: #0f172a;
}

.border-color-coral-600 {
  --tw-border-opacity: 1;
  border-color: rgb(237 102 83 / var(--tw-border-opacity));
}

.bg-color-coral-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(237 102 83 / var(--tw-bg-opacity));
}

.caret-color-teal-800 {
  caret-color: #115e59;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}
